name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate pacman graph
        uses: abozanona/pacman-contribution-graph@v1
        with:
          username: nandv2007
