name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:     # allows manual run

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate pacman contribution graph
        uses: abozanona/pacman-contribution-graph@v1
        with:
          github_user_name: nandv2007
